* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 4ch;

  padding: 1rem;
  height: 100vh;
}
.form {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  background: #c6cac6;
  border-radius: 1rem;
  padding: 1rem;
}
.box {
  min-height: 4vh;
  border-radius: 0.25rem;
  background-color: rgb(247, 247, 247);
}
main p {
  margin: none;
  font-weight: bold;
}
button {
  border-radius: 0.25rem;
  min-width: 10vh;
}
button:hover {
  cursor: pointer;
  color: darkgrey;
}
